@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/900.css";
@import "@fontsource/material-icons-round/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}
